/* Apple SD Gothic Neo 웹폰트 */
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/AppleSDGothicNeo/AppleSDGothicNeo.css');
.detail__inner {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: rgb(250, 250, 250);
    border: 1px solid #ebebeb;
    border-top: none;
    padding: 16px;
}

.detail__inner .detail__left__wrap {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
}

.detail__inner .detail__right__wrap {
    flex: 1 1 0%;
    align-self: flex-start;
    position: sticky;
    top: 56px;
    overflow-y: auto;
    width: 100%;
    min-width: 300px;
    max-width: 434px;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    word-break: break-word;
}

.detail__inner .detail__smallImg__box li {
    max-width: 72px;
}

.detail__inner .detail__smallImg__box li button {
    position: relative;
}

.detail__inner .detail__smallImg__box li button::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid transparent;
}

.detail__inner .detail__smallImg__box li.on button::before {
    border-color: #000;
}

.detail__inner .detail__smallImg__box li + li {
    margin-top: 4px;
}

.detail__inner .detail__smallImg__box li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail__smallImg__box {
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    overflow: hidden;
    max-height: 715px;
}

.detail__smallImg__slide {
    position: relative;
}

.detail__smallImg__slide > button {
    position: absolute;
    left: 50%;
    /* opacity: 0; */
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: #fff url(../assets/images/detail/ico_next_arrow.svg) no-repeat center center;
    background-size: 12px;
    transition: all 0.2s;
}

.detail__smallImg__slide .prevBtn {
    top: 0px;
    transform: rotate(-90deg) translate(-50%, calc(-23px / 2));
}

.detail__smallImg__slide .nextBtn {
    bottom: 0px;
    transform: rotate(90deg) translate(-50%, calc(23px / 2));
}

.detail__img__slide {
    max-height: 715px;
    position: relative;
}

body.scale {
    overflow: hidden;
}

body.scale::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    z-index: 901;
    top: 0;
    left: 0;
}

.detail__img__slide.scale {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 902;
}

.detail__img__slide:hover .detail__slide__control > button {
    opacity: 1;
}

.detail__img__slide.scale .detail__slide__control > button {
    opacity: 1;
}

.detail__img__slide.scale .detail__slide__btnWrap #scaleBtn {
    display: none;
}

.detail__slide__control {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
}

.detail__slide__control > button {
    opacity: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff url(../assets/images/detail/ico_next_arrow.svg) no-repeat center center;
    background-size: 16px;
    transition: all 0.2s;
}

.detail__slide__control > .prevBtn {
    background: #fff url(../assets/images/detail/ico_prev_arrow.svg) no-repeat center right 10px;
    background-size: 16px;
}

.detail__img__slide {
    overflow: hidden;
}

.detail__slide__btnWrap {
    display: flex;
    gap: 2px;
    align-items: center;
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.detail__img__slide.scale .detail__slide__btnWrap {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
}

.detail__img__slide .detail__slide__count {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 7px;
    height: 24px;
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 14px;
}

.detail__slide__btnWrap #scaleBtn {
    width: 24px;
    height: 24px;
    padding: 2px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
}

.detail__slide__btnWrap .scale_closeBtn {
    width: 30px;
    height: 30px;
}

.detail__slide__box {
    width: 596px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
}

.detail__slide__box > li {
    flex-shrink: 0;
    width: 596px;
}

.detail__img__slide.scale .detail__slide__count {
    background-color: transparent;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 18px;
    color: rgb(138 138 138);
}

/* 상세정보 -- 은조 */
.detail__info__wrap {
    width: 100%;
}

.detail__info__wrap .detail__info__tab > ul {
    display: flex;
}

.detail__info__wrap .detail__info__tab > ul li {
    flex: 1;
    text-align: center;
}

.detail__info__wrap .detail__info__tab > ul li a {
    display: block;
    line-height: 40px;
    width: 100%;
    color: rgb(138, 138, 138);
    background-color: rgb(235, 235, 235);
}

.detail__info__wrap .detail__info__tab > ul li a.on {
    background: #fff;
    color: #000;
}

/* 오른쪽 -- 영호 */
/* Fixed: 100~200 */
/* 100 */
.detail__selectBox {
    max-width: 434px;
    background: #ffffffcc;
    width: 100%;
    position: fixed;
    z-index: 100;
    box-sizing: border-box;
}
.detail__selectInnerBox {
    width: 94%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
}
.detail__productInfo {
    width: 100%;
}
.detail__productBrandInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}
.detail__productBrandInfo > div:nth-of-type(1) {
    display: flex;
    gap: 6px;
    align-items: center;
}
.detail__productBrandInfo > div:nth-of-type(2) > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    border: 0.5px solid rgb(224 224 224);
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 13px;
    box-sizing: border-box;
}
.detail__brandFavoriteTotal {
    padding-top: 2px;
}
.detail__icons {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.detail__iconBrandFavorite {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('../assets/icons/svg/detail/favorite.svg');
}
.detail__iconFavorite {
    width: 24px;
    height: 24px;
    background-image: url('../assets/icons/svg/detail/favorite.svg');
}
.detail__iconInformation {
    display: inline-block;
    position: absolute;
    left: 188px;
    top: -1px;
    width: 16px;
    height: 16px;
    background-image: url('../assets/icons/svg/detail/infomation.svg');
}
.detail__brandLogo {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    border: 0.5px solid #ebebeb;
}
.detail__brandLogo > img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    padding: 6px;
}
.detail__brandName {
    font-size: 14px;
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
        format('woff');
    font-weight: 500;
}
.detail__productLocation {
    font-size: 13px;
    color: #666666;
    letter-spacing: 0.2px;
    margin-bottom: 6px;
}
.detail__productName {
    font-size: 18px;
    margin-bottom: 10px; /*badge업데이트이후 수정필요*/
}
.detail__colorsdisplay > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-bottom: 4px;
}
.detail__colorsdisplay > span:not(:first-of-type) {
    margin-left: 4px;
}
.detail__originPrice {
    font-size: 15px;
    color: #8a8a8a;
    text-decoration: line-through;
}
.detail__discount {
    font-size: 18px;
    color: #f31110;
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
        format('woff');
    font-weight: 500;
}
.detail__discountPrice {
    font-size: 18px;
    margin-left: 4px;
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff')
        format('woff');
    font-weight: 500;
}
/*  */
.detail__productForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
}
.detail__productForm ul {
    width: 100%;
    height: 36px;
    /* background-color: #00000020; */
    border: 0.5px solid #ebebeb;
    cursor: pointer;
    font-size: 14px;
    color: #666;
    padding: 10px;
    position: relative;
    /* js Add Effect (arrow down=>up)*/
    background-image: url(../assets/icons/svg/detail/arrow_down.svg);
    background-position: calc(100% - 10px);
    background-repeat: no-repeat;
    background-size: 16px;
    left: 0;
    top: 0;
    z-index: 110;
    border-radius: 4px;
}
.detail__productForm ul.selected {
    overflow: visible;
}
.detail__productForm ul.removed {
    opacity: 0;
    z-index: -1;
}
.detail__productForm ul.radius {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.detail__productForm ul li {
    width: calc(100% + 22px);
    position: relative;
    top: 7px;
    left: -11px;
    background-color: white;
    border-bottom: 0.5px solid rgb(224 224 224);
    border-left: 0.5px solid rgb(224 224 224);
    border-right: 0.5px solid rgb(224 224 224);
}
.detail__productForm__colors li {
    padding: 15px 0 15px 36px;
}
.detail__productForm__colorsTitle {
    display: inline-block;
    /* padding-left: 26px; */ /*js로*/
    /* transform: translateY(-1px); */ /*js로*/
}
/* 🔑 */
.detail__productForm__colors > .detail__colors__firstSpan {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: #f31110; */ /* js로 */
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-bottom: 4px;
}
.detail__productForm__sizes li {
    padding: 15px 0 15px 15px;
}
.detail__productForm ul li:last-of-type {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.detail__productForm__colors {
    overflow: hidden;
}
.detail__productForm__sizes {
    overflow: hidden;
}
.detail__productColor {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 14px;
    border-radius: 50%;
    text-align: center;
}

/*  */
.detail__product__display--selected {
    padding: 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.detail__product__displayInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.detail__iconClose {
    width: 16px;
    height: 16px;
    background-image: url(../assets/icons/svg/detail/close.svg);
}
.u-text-14 {
    font-size: 14px;
}
.u-text-13 {
    font-size: 13px;
}
.u-text-11 {
    font-size: 11px;
}
.u-color-8a {
    color: #8a8a8a;
}
.detail__product__displayInner > div:first-of-type {
    display: flex;
    gap: 10px;
    align-items: center;
}
.detail__product__quantityWrap {
    border: 0.5px solid #e4e4e4;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
}
.detail__product__quantityWrap > * {
    display: block;
}
.detail__iconMinus,
.detail__iconPlus {
    width: 28px;
    height: 30px;
    background-size: 16px;
    background-color: white;
}
.detail__iconMinus {
    background-image: url(../assets/icons/svg/detail/minus.svg);
}
.detail__iconMinus:disabled {
    background-color: #f5f5f5;
}
.detail__iconPlus {
    background-image: url(../assets/icons/svg/detail/plus.svg);
}
.detail__product__quantity {
    font-family: 'Apple SD Gothic Neo';
    width: 42px;
    height: 30px;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-top: 2px;
    border-left: 0.5px solid #e4e4e4;
    border-right: 0.5px solid #e4e4e4;
}
input.detail__product__quantity:disabled {
    background-color: white;
}
/*  */

.detail__btns {
    width: 100%;
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
.detail__btns > div:first-of-type {
    width: 14%;
    text-align: center;
}
.detail__btns > button {
    width: 41%;
    border: 0.5px solid rgb(224 224 224);
    padding: 12px;
    border-radius: 4px;
}
.detail__btns > button:first-of-type {
    background-color: white;
    color: black;
}
.detail__btns > button:nth-of-type(2) {
    color: white;
    background: black;
}
.detail__productDeliveryInfo {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 0.5px solid #f3f3f3;
}
.detail__productDeliveryInfo > div:first-of-type {
    color: black;
    padding-bottom: 10px;
    border-bottom: 0.5px solid #f3f3f3;
}
.detail__productDeliveryInfo > div:first-of-type > span {
    color: #666666;
}
.detail__productDeliveryInfo > div:nth-of-type(2) {
    position: relative;
    color: black;
}
