/* 눈누 웹폰트 적용 */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    -webkit-user-drag: none;
    user-select: none;
}
#recommend {
    width: 100%;
    padding-top: 16px; /**/
}
.recommend__wrap {
    width: 100%;
    background-color: #f5f5f5;
}
.recommend__contents {
    width: calc(100vw * 0.75);
    margin: 0 auto;
    background-color: #eeeeee88;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: hidden;
    position: relative;
    padding-left: 16px;
}

/* . */
.recommend__wrap div:first-of-type {
    font-size: 18px;
}
.recommend__fitness {
    margin-top: 12px;
}

/* view items */
.recommend__itemsWrap {
    width: 3900px;
    display: flex;
}
.recommend__itemsInner {
    display: flex;
    flex-wrap: wrap;
}
.recommend__items {
    width: 260px;
    height: 402px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.recommend__itemTop {
    width: 260px;
    height: 312px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.recommend__itemBottom {
    width: 260px;
    height: 90px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px;
}
.recommend__iconFavorite {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: block;
    width: 17.4px;
    height: 15px;
    background-image: url(../assets/icons/svg/recommend/favorite_16dp_EFEFEF_FILL0_wght400_GRAD0_opsz20.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.recommend__brand p {
    font-size: 12px;
    font-weight: bold;
}
.recommend__name p {
    font-size: 13px;
}
.recommend__price {
    display: flex;
    gap: 4px;
}
.recommend__discount {
    font-size: 13px;
    font-weight: bold;
    color: #f31110;
}
.recommend__discountedPrice {
    font-size: 13px;
    font-weight: bold;
}

/* Web to anotherWeb */
.recommend__btnWrap {
    width: 600px;
    height: 36px;
    background-color: #37b0f4;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 4px;
    margin-bottom: 16px; /**/
}
.recommend__btnWrap span {
    font-size: 14px;
    color: #fff;
}
.recommend__p {
    width: 12px;
    height: 12px;
    border-radius: 2px;
    background-color: #fff;
    position: relative;
}
.recommend__p span {
    width: 17px;
    height: 17px;
    background-image: url(../assets/icons/svg/recommend/p.svg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* slide btns */
.recommend__btn--pre,
.recommend__btn--next {
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px rgb(190, 190, 190);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s linear;
}
.recommend__wrap:hover .recommend__btn--next {
    opacity: 1;
}
.recommend__btn--pre {
    left: 20px;
}
.recommend__btn--next {
    right: 20px;
}
.recommend__btn--pre img,
.recommend__btn--next img {
    width: 20px;
    height: 20px;
}
.recommend__btn--pre img {
    margin-left: 8px;
}

.recommend__btn--next img {
    margin-left: 4px;
}
